/* Welcome Page Stylesheet*/

body {
	background-image: url("images/saltonsea5.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	letter-spacing: 5px;
	color: #FFFFFF;
	font-size: 300%;
}

.intro {
	color: #FFFFFF;
}

.headerbox {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 50%;
	text-align: center;
}

.introbox {
	padding: 2%;
	margin: 0 auto;
}